.navbar{
    margin-left: 273px;
}
.navbar ul{
    list-style: none;
}

.navbar ul li{
    margin-left: 54px;
}
.navbar li a{
    color: #b7c8e3 !important;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.iconlars{
    margin-right: -343px;
    margin-left: 116px;
}

#navicon{
    background-color: white;
    padding: 3px;
    border-radius: 100%;
    margin-right: 15px;
    color: #b7c8e3;
    margin-right: 69px;
    cursor: pointer;
}
